body {
	font-family: sans-serif;
	margin: 0;
	color: white;
	background-color: #024273;
	font-size: 20px;
	background: url(../images/background.png);
}

div.home-info {
	padding: 1em 1.5em;
}

div.home-info li { 
	margin: 0.5em;
}

div.home-info h1 {
	font-size: 3em;
}

div.home-info h2 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.home-info h3 {
	font-size: 1.5em;
	margin: 0;
}


a,a:visited {
	color: #66f542;
	padding: 0.2em;
	cursor: pointer;
}

a.show-source {
	display:block;
	position: absolute;
	top:1em;
	right:1em;
	padding: 0.5em;
	background-color: rgba(0,0,0,0.5);
	font-size: 0.7em;
}

span.info {
	display:block;
	position: absolute;
	bottom:1em;
	right:1em;
	padding: 0.5em;
	background-color: rgba(0,0,0,0.5);
	font-size: 0.7em;
}

div.buttons {
	display:block;
	position: absolute;
	top:1em;
	left:1em;
	padding: 0.5em;
	background-color: rgba(0,0,0,0.5);
	font-size: 0.7em;
}

canvas { 
	width: 100%; 
	height: 100%;
	position: fixed;
	top:0px; left:0px;
	z-index: -1000;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
}