/* @import url(http://fonts.googleapis.com/css?family=Coda:400,800); */

/* editor */

.submenu { 
	z-index: 1000100; 
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 360px;
	min-width: 100px;
	border-bottom: 1px solid #333;
}

.submenu.shortcuts .ui-menu-item {
	padding-right:5em;
}

.ui-menu .ui-menu-item em { position: absolute; right: 0.5em; top: 0.2em; }

.ui-menu-item.ui-state-focus label { color: black; }

#undo-buttons, #menu-bar { z-index: 1000000; }

#marquee {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px dotted white;
	outline-color: black;
	outline-width: 2px;
	outline-style: solid;
	z-index: 2000000;
}

.point-row div.from,.point-row div.to {
	width: 72px;
	font-weight: bold;
	color: #999;
	display: inline-block;
}
.point-row div.from { text-align: right; }

.point-row div.curve { 
	text-align: center; 
	display: inline-block;
	width: 190px;
}

.point-row { padding: 5px; }
.point-row:nth-child(even) {
	background-color: rgba(255,255,255,0.1);
}

#editor-toolbar {
	position: absolute;
	text-align: right;
	padding: 4px;
	width: 590px;
	height: 94px;
}

#editor-toolbar #frame-play { 
	padding-left: 3em;
	padding-right: 3em;
}

.separator-left {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 2px dotted #666;
}

.separator-right {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 2px dotted #666;
}

.editor hr {
	margin: 5px 0px;
	border: 2px dotted #666;
}

#editor-props .panel hr {
	border: 1px dotted #666;
}

.subpalette {
	position: absolute;
	top:45px; right:14px;
	font-size: 0.8em;
}

.subpalette a {
	margin-left:0.9em;
}

.editor hr.clear {
	border: 0px none;
	height: 10px;
}

.editor h1 {
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
	margin: 0px;
	cursor: default;
	color: #EEEEEE;
	text-shadow: 0px 1px 3px black;
}

label.object-label {
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	padding: 5px;
	font-size: 10px;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid transparent;
	text-shadow: 0px 1px 0px black;
	z-index: 1;
}
label.object-label.Anchor {
	background-color: transparent;
	font-size: 8px;
	font-weight: normal;
	font-style: italic;
}

label.object-label.selected {
	border: 2px solid white;
}

label.object-label.droppable.active {
	background-color: #fff;
	text-shadow: none;
	color: #000;
}

#editor-scene {
	width: 395px;
	min-width: 395px;
	overflow: hidden;
}
#editor-scene.collapsed { width: 150px; min-width: 150px; }

#editor-assets {
	width: 300px;
	min-width: 300px;
	overflow: hidden;
}
#editor-assets.collapsed { width: 150px; min-width: 150px;}

#editor-props {
	width: 395px;
	min-width: 395px;
	overflow: hidden;
}
#editor-props.collapsed { width: 190px; min-width: 190px; }

#editor-props .panels {
	overflow-y: auto;
	background-color: rgba(0,0,0,0.25);
}

#editor-props .panel {
	padding: 15px 10px;
	border-bottom: 2px dotted #666;
	position: relative;
	overflow: visible;
}

#editor-props .panel .sub {
	margin: 5px 0 0 0;
	padding:1px;
	font-size: 12px;
}

#editor-props .panel .sub a {
	font-size: 12px;
	margin: 0;
	padding: 5px 5px;
	border-radius: 5px;
}

#editor-props .panel .sub a.active {
	background-color: #fff;
	color:#000;
}

#editor-props .panel h4 {
	position: absolute;
	font-size: 10px;
	margin:0;
	color: #666;
	left:4px;
	top:2px;
	cursor: default;
	cursor: pointer;
	width: 90%;
}

#editor-props .panel h4:hover {
	color: #fff;
}

#editor-props .panel.collapsed {
	overflow: hidden;
	height: 0px;
	padding-bottom: 2px;
	background-color: rgba(0,0,0,0.5);
}

#editor-props .panel.collapsed h4 {
	color: white;
}

#prop-object-type {
	color: #999;
	font-size: 12px;
	max-width: 160px;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
}

#anim-restart {
	position: relative;
	top: -5px;
}

#panel-common {
	height:35px;
}

#anim-list,#anchor-list {
	min-height: 5em;
	max-height: 15em;
	overflow-y: scroll;
	overflow-x: hide;
	background-color: #000;
	margin: 0.2em;
}

#scene-list, #asset-list {
	overflow-y: scroll;
	overflow-x: hide;
	background-color: #000;
	margin: 0.2em;
}

#props-container .prop-row {
	font-size: 10px;
}

#props-container .prop-row input[type=text]{
	font-size: 12px;
}

#anim-list div.anim-row,#anchor-list div.anchor-row {
	padding: 0.5em;
	padding-left: 1em;
	margin: 0.1em;
	background-color: #000;
	position: relative;
	cursor: default;
	overflow: hidden;
}

.tiny-swatch{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid black;
	margin-right: 10px;
	margin-top: 10px;
	position: relative;
}

.image-swatch{
	display: inline-block;
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-top: -10px;
	position: relative;
	left: -10px;
	top:10px;
}

.column {
	float: left;	
}

#scene-list div.row, #asset-list div.row {
	min-height: 35px;
	font-size: 14px;
	position: relative;
	overflow: hidden;
	clear: both;
	padding-left: 10px;
	white-space: nowrap;	
}

#scene-list div.row > div.row {
	margin-left: 5px;
}

#scene-list div.row a.toggle {
	margin-right: 5px;
	display: inline-block;
	width: 16px; height:16px;
	position: relative;
}

#scene-list div.row.collapsed > div.row {
	display:none;
}

#scene-list div.row.hidden > label {
	text-decoration: line-through;
	color: #999;
}

#scene-list div.row.hidden div.row > label {
	text-decoration: line-through;
	color: #999;
}

#scene-list div.row.template {
	background-color: rgba(50,81,123,0.5);
}

#scene-list div.row.default > label {
	font-weight: bold;
}

#scene-list div.row {
	white-space: nowrap;
	overflow-x: hidden;
	border:1px solid transparent;
}

#scene-list div.row > div.selection {
	display: none;
	background-color: rgba(102,102,102,0.7);
	height: 36px;
	width: 100%;
	position: absolute;
	left:0; top: 0;
}

#scene.filter div.row.filtered { 
	display: none; 
}

#scene.filter div.row > a.toggle {
	display:none;
}

div.row.helper {
	max-width: 200px;
	border: 1px solid black;
	background-color: #333;
	opacity: 0.7;
	font-size: 15px;
	z-index: 2000000;
	padding: 10px;
}

div.row.helper li {
	list-style: none;
	list-style-type: none;
	padding: 2px; margin-right: 5px;
	display: inline-block;
	float: left;
}
div.row.helper li label {
	font-size: 12px;
}

#scene-list div.row.Anchor > label{
	color:#999;
	font-style: italic;
	font-weight: normal;
}

#scene-list div.row > div.droptarget {
	display: none;
	background-color: rgba(255,255,255,0.15);
	height: 36px;
	width: 100%;
	position: absolute;
	left:0; top: 0;
}
#scene-list div.row > div.droptarget.droppable {
	display:block;
}
#scene-list div.row > div.droptarget.droppable.active {
	background-color: rgba(255,255,255,0.5);
	border: 1px solid white;
}

#scene-list div.row.selected > div.selection {
	display: block;
}

#scene-list div.row.template {
	color: #999;
}

#scene-list div.row.droptarget {
	border:1px solid #fff;
}



#scene-list div.row label,
#asset-list div.row label {
	padding: 10px 0px;
	display: inline-block;
	position: relative;
	width: 100%;
}

#asset-list div.row.missing > label,
#scene-list div.row.missing > label  { color: #d50000; }

#asset-list div.row span.used, #scene-list div.row span.type { 
	display: block; 
	position: absolute; 
	font-size: 75%; 
	color: #999999; 
	top: 10px; right:10px;
}

#asset-list div.row span.used a:hover {
	text-decoration: underline;
}

.clear { clear: both;}

#anim-list div.anim-row.selected, #anchor-list div.anchor-row.selected, #asset-list div.row.selected {
	background-color: rgba(102,102,102,0.7);
}

#anim-list div.anim-row label { overflow: hidden; width: 70%; }
#anim-list div.anim-row span.frames { 
	position: absolute; 
	right: 0.5em; 
	width: 25%;
	border-left: 2px dotted #333;
	font-size: 80%; 
	padding: 0.25em 0.25em 0.25em 1em; 
	overflow: hidden;
	color: #EEEEEE;
}

#frame-thumbnails div#frame-range {
	position: absolute;
	height: 100%;
	width:1px;
	border-radius: 2px;
	background-color: #3f3f3f;
}

#frame-thumbnails span.frame-label { 
	position: absolute;
	white-space: nowrap;
	padding: 0em 0.5em;
	text-align: left;
	top: 2px;
	background-color: #999;
	color: #fff;
	font-size: 80%;
	border-radius: 0.25em;
}

#editor-load textarea, #editor-save textarea {
	font-size: 75%;
	width: 100%;
	height: 160px;
	border-radius: 5px;
	background-color: white;
	color: black;
}

#drop-files {
	width: 90%;
	border: 2px solid #666;
	background-color: #000;
	padding: 1em;
	min-height: 40px;
	max-height: 400px;
	overflow: hidden;
	overflow-y: scroll;
}

#drop-files span.file {
	background-color: #333;
	padding: 0.5em;
	font-size: 0.8em;
	max-width: 130px;
	height: 1.8em;
	margin: 0.2em;
	display: inline-block;
	white-space: nowrap;
	float: left;
	
	/*word-wrap: break-word;*/
	text-align: right;
	overflow: hidden;
}

.handcursor {
	cursor: pointer;
}

#drop-files span.file.scene {
	background-color: #692626;
}

a.toggleCollapse {
	position: absolute;
	left: 5px; top:5px;
	background-color: black;
	padding: 2px;
}

#editor-paste {
	width: 390px;
}

#editor-lights label {
	display: inline-block;
	min-width: 75px;
	margin: 5px 10px 5px 5px;
	text-align: right;
}

.floating-panel {
	position:absolute;
	padding:5px;
	z-index: 1000000;
}

#editor-anims {	width: 320px; }
#editor-anims.collapsed { width: 170px; }


#editor-timeline {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.5em 0;
	width: 100%;
	background: #474747;
	border-top:2px solid black;
	overflow: visible;
	overflow-x: scroll;
}

#timeline-container {
	width:auto;
	height:auto;
	margin-top:0.7em;
}

span#thumb-options { 
	float: right;
	display: block;
	height: 0;
	overflow: visible;
	white-space: nowrap;
	top:-0.6em;
	right: 0.5em;
	position: relative;
}

/* pixel margins because thumbnails are fixed size */
#editor-timeline div.ui-slider { margin: 0 55px 0 47px; }
#editor-timeline #frame-slider { margin-top: 0.5em; }
#editor-timeline #frame-range-slider { margin-bottom: 0.2em; }
#editor-timeline.collapsed #frame-range-slider { display: none; }

#editor-timeline a#toggle-range {
	position: fixed;
	right: 5px;
	bottom: 2.8em;
	background-color:#000;
}

#editor-timeline.collapsed a#toggle-range {
	bottom: 0.7em;
}

#frame-thumbnails { 
	margin: 0 10px 10px 10px;
	background-color: #000;
	border-radius: 4px;
	height: 72px;
	padding: 0;
	position: relative;
	overflow: visible;
	border: 2px solid #000;
}
#frame-thumbnails img { 
	position: absolute;
	top: 12px;
	border: 2px solid #000;
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
	border-radius: 4px;
}
#frame-thumbnails img.dragged { border: 2px solid #666666; }
#frame-thumbnails img.current { border: 2px solid #FFFFFF; }
#frame-thumbnails.has-anims { height: 92px; }

#masking-mode-free label { text-align: right; }

#frame-range-slider .ui-slider-range {	
	z-index: 0;
	background-color: #d2d2d2;
	color:#00ff66;
	font-size: 70%;
	text-align: center;	
}

#frame-range-slider .ui-slider-handle {
	width: 1.9em;
	overflow: visible;
	margin-left: -2.0em;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#frame-range-slider .ui-slider-handle:last-child {
	width: 1.9em;
	margin-left: 0em;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.ui-tabs-panel div.ui-slider {
	width: 12.5em;
	display: inline-block;
	background: #333333;
}

#editor-mask div.ui-slider {
	width: 200px;	
}

#stroke-size { width: 5em; display: inline-block; margin-top: 0.2em; }

.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0.5em;
}

.color-swatch { 
	display: inline-block;
	width: 40px;
	height: 20px;
	border: 2px dotted #666666;
	position: relative;
	top: 5px;
	margin-left: 5px;
}

.floating-panel.collapsed{
	height: 26px; overflow: hidden; 
	width: 170px; min-width: 170px;
}

#editor-toolbar.collapsed { width: 135px; height: 26px; overflow: hidden; }
#editor-toolbar h1{ display: none; }
#editor-toolbar.collapsed h1{ display: block; clear:both; }
#editor-toolbar.collapsed button,#editor-toolbar.collapsed span{ margin-top:1em; display: block; clear:both; }

ul.ui-tabs-nav li a {
	color: black;
}

ul.ui-tabs-nav li.ui-state-active a {
	color: #00ff66;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	background: #333;
}


#help-view em { 
	margin-right: 10px;
	width:120px;
	font-size: 12px;
	text-align: right;
	display: inline-block;
}

#help-view h2 { text-align: center; }

/* general */

button {
	padding: 10px 20px;
	margin: 0px;
	background-color: #d6d6d6;
	border-radius: 10px;
	border: 2px solid black;
	color: #000;
}

button:hover, button:focus {
	background-color: #f0f0f0;
	outline: 0px;
}

button:active{
	color: #00ff66;
	background-color: #000;
}

button[disabled=disabled]{
	background-color: #878787;
	color: #666666;
	border: 2px solid #666666;
	cursor:not-allowed;
}

button:hover[disabled=disabled],button:focus[disabled=disabled]{
	background-color: #878787;
}

button:active[disabled=disabled]{
	color: #666666;
}

button.huge {
	padding: 20px;
	border-radius: 20px;
	font-size: 25px;
}

button[selected]{
	color: #ff0000;
}

label {
	color: #eaeaea;
	white-space: nowrap;
}

em {
	color: #999999;
}

h2 { font-weight: normal; color: rgb(57,172,222); letter-spacing: 1;}

.w0 { width: 25px; display:inline-block; }
.w1 { width: 40px; display:inline-block; }
.w2 { width: 60px; display:inline-block; }
.w3 { width: 70px; display:inline-block; }
.w31 { width: 80px; display:inline-block; }
.w32 { width: 100px; display:inline-block; }
.w33 { width: 120px; display:inline-block; }
.w4 { width: 150px; display:inline-block; }
.w5 { width: 195px; display:inline-block; }
.w6 { width: 250px; display:inline-block; }
.w7 { width: 280px; display:inline-block; }
.pad5 { padding: 5px; }
.scale75 { font-size: 0.75em; }

input {
	color: #ffffff;
	padding: 0 0.5em;
	border: 2px solid rgba(0,0,0,0);
	border-radius: 4px;
	background-color: rgba(255,255,255,0.2);
	margin:0.25em;
}

div.bigMessage {
	position: absolute;
	z-index: 10000000;
	background-color: rgba(255,255,255,0.7);
	padding: 30px;
	border-radius: 20px;
	color:black;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

div.bigMessage .info {
	font-weight: normal;
	font-size: 16px;
	color: #666;
}


input.error {
	border: 2px solid #de6b39;
}

input:active, input:hover, input:focus {
	background-color: rgba(255,255,255,0.4);
}

input.active {
	border: 2px solid white;
}

input[type=text][disabled],input[type=text][readonly]{
	color:#AAA;
}

input[type=checkbox]{
	margin: 5px 10px 5px 5px;
	outline:0;
	position: relative;
}

input[type=checkbox].coll { margin: 5px 2px; }

input[size='1']{
	width:2.5em;
	padding: 0 0.25em;
}

input[size='2']{
	width:3em;
	padding: 0 0.25em;
}

input[type=checkbox].multiple:after {
	position: absolute;
	top: 1px;
	left: 2px;
	content: 'M';
	width: 16px;
	height: 16px;
	z-index: 1;
	font-size: 62%;
	color: rgba(0,0,0,0.6);
	text-shadow: 0px 0px 1px white;
}

input[type=checkbox].multiple + label, input[type=radio].multiple + label{
	color: #666;
}

input[type=checkbox].ui-helper-hidden-accessible { display: none; }

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #AAA;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #AAA;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #AAA;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #AAA;
}

body {
	position: relative;
    overflow:hidden;
    font-size: 15px;
}

body *{
	font-family: Coda, Verdana, monospace, sans-serif;
}

a,a:visited {
	color: #00ff66;
	text-decoration: none;
/*	border-bottom: 2px dotted #00ff66;*/
	cursor: pointer;
}

a:hover, a:active {
	color: #fff;
/*	border-bottom: 2px dotted #fff;*/
}

a[disabled]{ color: #999999; border: 0px none; cursor: default; }

canvas { 
	width: 100%; 
	height: 100%;
	position: absolute;
	top:0; left:0;
	z-index: 0;
}

span.error {
	background-color: #de6b39;
	color: #000;
	padding: 5px;
	margin: 5px 0px;
	border-radius: 5px;
	display: block;
	clear: both;
}

span.success {
	background-color: #39acde;
	color: #fff;
	padding: 5px;
	margin: 5px 0px;
	border-radius: 5px;
	display: block;
	clear: both;
}

span.info{
	/* background-color:rgba(57,172,222,0.48);*/
	color: #999;
	padding: 5px;
	margin: 5px 0px;
	border-radius: 5px;
	display: block;
	clear: both;
	font-size: 80%;
	text-align: center;
}

.flush-right {
	display: inline-block;
	float: right;
	clear: none;
	overflow: visible;
	height: 0;
}

ul.horizontal {
	margin: 0px;
	padding: 0px;
}

ul.horizontal li {
	padding: 10px;
	display: inline-block;
	border-right: 2px dotted #666;
}

ul.horizontal li:last-child {
	border-right: 0px none;
}

li em { margin-left:20px; color: 888888; }

.center-in-container {
	margin: 0px auto;
}

.center {
	text-align: center;
}

.right-align {
	text-align: right;
}

.float-right {
	float: right;
}
.left-align {
	text-align: left;
}

.absolute-pos {
	position: absolute;
}

.upper-left {
	top:0; left:0;
}

.upper-right {
	top:0; right:0;
}

.bottom-left {
	bottom:0; left:0;
}

.bottom-right {
	bottom:0; right:0;
}

